//
// Custom
//

@use 'sass:map';

.scroll-margin {
	scroll-margin-top: map.get($header, height) + map.get($subheader, height) +
		map.get($page, padding-y);
}

.sticky-top-size {
	top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.border-transparent {
	--#{$prefix}border-opacity: 0;
}

.card-with-number {
	text-align: center;
	width: 99px;
	height: 99px;
	/* UI Properties */
	background: var(--unnamed-color-ebe4d5) 0% 0% no-repeat padding-box;
	background: #ebe4d5 0% 0% no-repeat padding-box;
	border-radius: 3px;
	opacity: 1;
}

.custom-card {
	width: 153px;
	height: 153px;
	opacity: 1;
	align-items: center;
	justify-content: center;
}

.custom-card-chart {
	min-height: 153px;
	// align-items: center;
	// display: flex;
	// margin-left: 0.7rem;
	padding-left: 8px;
}

.custom-card-with-shaddow {
	/* UI Properties */
	background: transparent linear-gradient(180deg, #d6caa8 0%, #e6decb 100%) 0% 0% no-repeat
		padding-box;
	opacity: 1;
}
.text-align-right {
	text-align: right;
}

.card-gradient {
	background: transparent linear-gradient(180deg, #d6caa8 0%, #e6decb 100%) 0% 0% no-repeat
		padding-box;
}

.form-select {
	background-color: $secondary2 !important;
}

.form-control {
	background-color: $secondary2 !important;
}

.logo-drag-drop {
	width: 220px;
	height: 213px;
	/* UI Properties */
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: inset 0px 2px 3px #00000029;
	opacity: 1;
}

.custom-email-card {
	background: var(--unnamed-color-404040) 0% 0% no-repeat padding-box;
	background: #404040 0% 0% no-repeat padding-box;
	border-radius: 9px;
	opacity: 1;
	padding: 0 1rem 0 1rem;
}

.fc-white {
	color: #ffffff !important;
}
.ml-2 {
	margin-left: 2px;
}
.ml-5 {
	margin-left: 5px;
}
.ml-10 {
	margin-left: 10px;
}

.section-seperate {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border: 1px solid var(--unnamed-color-707070);
	border: 1px solid #707070;
	opacity: 1;
}

.custom-qr-card {
	width: 448px;
	/* UI Properties */
	background: transparent linear-gradient(180deg, #d6caa8 0%, #e6decb 100%) 0% 0% no-repeat
		padding-box;
	box-shadow: 0px 3px 6px #00000029;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.custom-qr-card-items {
	margin: 10px;
}
.qr-code-settings-container {
	width: 90%;
	background: #ebe4d5 0% 0% no-repeat padding-box;
	box-shadow: inset 0px 2px 3px #00000029;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.vert-seperator {
	height: 63px;
	border: 1px solid #707070;
	opacity: 1;
}

.device-cont-round {
	display: flex;
	width: 100px;
	height: 100px;
	background: $primary 0% 0% no-repeat padding-box;
	opacity: 1;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.bg-color-secondary2 {
	background-color: $secondary2 !important;
}

.sub-header-right-button {
	border: none;
	margin-left: 0.5rem;
	color: $primary;
	background: none;
	font-size: 12px;
}

.sub-header-right-button-clicked {
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	border-radius: 2.3125rem;
	margin-left: 0.5rem;
	color: #ffffff;
	background: #f35421 0% 0% no-repeat padding-box;
	font-size: 12px;
}

.settings-online-menu-qr-card {
	min-height: 170px;
	height: auto;
	background: rgba(235, 228, 213, 0.2);
	border-radius: 8px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
}

.color-primary {
	color: $primary;
}

.online-menu-qr-card-content {
	box-sizing: border-box;
	margin: 10px;
}

.custom-check-box {
	padding-left: 3px;
	.form-check-input {
		transform: scale(1.4);
	}
	.form-check-label {
		margin-left: 5px;
		font-size: 14px;
	}
}

.support-details {
	margin-top: 75px;
}

@media only screen and (max-width: 1200px) {
	.vert-seperator {
		display: none;
	}
	.res-margin {
		margin-top: 1rem;
	}
	.support-details {
		margin-top: 0.8rem;
	}
}

@media only screen and (max-width: 770px) {
	.setting-online-menu-res-margin {
		margin-top: 2rem;
	}
}

.custom-qr-card-container {
	display: flex;
	justify-content: end;
}

@media only screen and (max-width: 992px) {
	.custom-qr-card-container {
		justify-content: start;
	}
}

@media only screen and (max-width: 576px) {
	.custom-qr-card-container {
		justify-content: center;
	}
	.custom-qr-card {
		width: 340px;
	}
}
.header-with-only-logo {
	background: #404040 0% 0% no-repeat padding-box;
	opacity: 1;
}
.custom-wizard-button {
	background-color: #ebe4d5 !important;
	width: 38px;
	height: 38px;
	border: none;
	font-size: 20px;
	color: #ffffff;
}
.onboarding-menu-card {
	width: 265px;
	height: 349px;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 40px 50px #7070701a;
	border: 0.30000001192092896px solid #d3dafe;
	border-radius: 9px;
	opacity: 1;
}

.onboarding-menu-card-select {
	background: #ebe4d5 0% 0% no-repeat padding-box;
}

.onboarding-menu-card:hover {
	background: #ebe4d5 0% 0% no-repeat padding-box;
	#cardButton {
		background: #d1c49f !important;
		top: 0.25rem;

		// stylelint-disable declaration-no-important
		&::before {
			top: 0.5rem !important;
			right: 0.5rem !important;
			left: 0.5rem !important;
		}

		&::after {
			top: 0.875rem !important;
			right: 1rem !important;
			left: 1rem !important;
		}
	}

	#venueCardFooter {
		background: #ebe4d5 0% 0% no-repeat padding-box;
	}
}

.custom-alert {
	width: 400px;
	padding: 1rem;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #0000004d;
	border-radius: 15px;
	opacity: 1;
	border: none;
	top: 78px;
	position: absolute;
}

@media only screen and (max-width: 576px) {
	.custom-alert {
		width: 360px;
		justify-self: center;
	}
}
