//
// Custom
//

@use 'sass:map';

.scroll-margin {
	scroll-margin-top: map.get($header, height) + map.get($subheader, height) +
		map.get($page, padding-y);
}

.sticky-top-size {
	top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.border-transparent {
	--#{$prefix}border-opacity: 0;
}

.card-with-number {
	width: 4rem;
	height: 4rem;
	text-align: center;
	padding-right: 3px;
	border-radius: 5%;
}

.custom-card {
	width: 100px;
	height: 100px;
	align-items: center;
	justify-content: center;
}

.custom-card-chart {
	padding-right: 26px;
	width: auto;
	height: 100px;
	justify-content: center;
	.chart-container {
		margin-left: 3rem;
	}
	.card-with-number {
		margin-left: 26px;
	}
}

.custom-card-with-shaddow {
	/* UI Properties */
	background: transparent linear-gradient(180deg, #d6caa8 0%, #e6decb 100%) 0% 0% no-repeat
		padding-box;
	opacity: 1;
}
.text-align-right {
	text-align: right;
}

.card-gradient {
	background: transparent linear-gradient(180deg, #d6caa8 0%, #e6decb 100%) 0% 0% no-repeat
		padding-box;
}

.form-select {
	background-color: #ebe4d5 !important;
}

.form-control {
	background-color: #ebe4d5 !important;
}

.logo-drag-drop {
	width: 220px;
	height: 213px;
	/* UI Properties */
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: inset 0px 2px 3px #00000029;
	opacity: 1;
}
