//
// Custom
//

@use 'sass:map';

.scroll-margin {
	scroll-margin-top: map.get($header, height) + map.get($subheader, height) +
		map.get($page, padding-y);
}

.sticky-top-size {
	top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.border-transparent {
	--#{$prefix}border-opacity: 0;
}

.card-with-number {
	text-align: center;
	width: 99px;
	height: 99px;
	/* UI Properties */
	background: var(--unnamed-color-ebe4d5) 0% 0% no-repeat padding-box;
	background: #ebe4d5 0% 0% no-repeat padding-box;
	border-radius: 3px;
	opacity: 1;
}

.custom-card {
	width: 153px;
	height: 153px;
	/* UI Properties */
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 40px 50px #7070701a;
	border: 1px solid #7070704d;
	border-radius: 13px;
	opacity: 1;
	align-items: center;
	justify-content: center;
}

.custom-card-chart {
	height: 153px;
	/* UI Properties */
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 40px 50px #7070701a;
	border: 1px solid #7070704d;
	border-radius: 13px;
	opacity: 1;
	justify-content: center;
	padding-left: 2rem;
}

.custom-card-with-shaddow {
	/* UI Properties */
	background: transparent linear-gradient(180deg, #d6caa8 0%, #e6decb 100%) 0% 0% no-repeat
		padding-box;
	opacity: 1;
}
.text-align-right {
	text-align: right;
}

.card-gradient {
	background: transparent linear-gradient(180deg, #d6caa8 0%, #e6decb 100%) 0% 0% no-repeat
		padding-box;
}

.form-select {
	background-color: $secondary2 !important;
}

.form-control {
	background-color: $secondary2 !important;
}

.logo-drag-drop {
	width: 220px;
	height: 213px;
	/* UI Properties */
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: inset 0px 2px 3px #00000029;
	opacity: 1;
}

.custom-email-card {
	background: var(--unnamed-color-404040) 0% 0% no-repeat padding-box;
	background: #404040 0% 0% no-repeat padding-box;
	border-radius: 9px;
	opacity: 1;
	padding: 0 1rem 0 1rem;
}

.fc-white {
	color: #ffffff !important;
}
.ml-2 {
	margin-left: 2px;
}
.ml-5 {
	margin-left: 5px;
}

.section-seperate {
	border: 1px solid var(--unnamed-color-707070);
	border: 1px solid #707070;
	opacity: 1;
}

.custom-qr-card {
	width: 448px;
	/* UI Properties */
	background: transparent linear-gradient(180deg, #d6caa8 0%, #e6decb 100%) 0% 0% no-repeat
		padding-box;
	box-shadow: 0px 3px 6px #00000029;
	opacity: 1;
	text-align: center;
	justify-content: center;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.debossed-effect-qr {
	background: #ebe4d5 0% 0% no-repeat padding-box;
	box-shadow: inset 0px 2px 3px #00000029;
	padding-left: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.vert-seperator {
	height: 63px;
	border: 1px solid #707070;
	opacity: 1;
}

.device-cont-round {
	display: flex;
	width: 100px;
	height: 100px;
	background: $primary 0% 0% no-repeat padding-box;
	opacity: 1;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.bg-color-secondary2 {
	background-color: $secondary2 !important;
}

.sub-header-right-button {
	border: none;
	margin-left: 0.5rem;
	color: $primary;
	background: none;
	font-size: 12px;
}

.sub-header-right-button-clicked {
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	border-radius: 2.3125rem;
	margin-left: 0.5rem;
	color: #ffffff;
	background: #f35421 0% 0% no-repeat padding-box;
	font-size: 12px;
}
